body{
    background-image: url(./mundial.jpg);
    background-size: 100%;
     }
.titulo{
    text-align: center;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}
.subtitulos{
    font-size: 40px;
}
.texto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
table input {
    width: 2em;
}
#Tablapuntajes{
    position: fixed;
    top:400px;
    right: 300px;
    background-color: aliceblue;
}
